li
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


ul
{
    margin-top: 50px;
}

.meta
{
    color: #707070;
    margin-bottom: 23px;
}


.content
{
    font-size: 1.2em;
    font-weight: bold;
}


h1
{
    margin-bottom: 60px;
}

.bottom
{
    margin-top: 80px;
    margin-left: 50px;
}

.submit2
{
    margin-left: 30px;
}