li
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul
{
    margin-top: 50px;
}

html
{
    margin-right: 16px;
}

.meta
{
    color: #707070;
    margin-bottom: 23px;
    display: flex;
}

.content
{
    font-size: 1.2em;
    font-weight: bold;
}

h1
{
    margin-bottom: 60px;
}

.bottom
{
    margin-top: 80px;
    margin-left: 50px;
}

.submit2
{
    margin-left: 30px;
}

.navigation
{
    margin-top: 50px;
}

.meta > a , .meta > form > button
{
    margin-left: 5px;
    margin-right: 5px;
}

.badge
{
    align-self: center;
}

.fiveLatestQuotes
{
    margin-top: 30px;
}

.progress
{
    margin-bottom: 15px;
}

.ExperienceUser
{
    margin-bottom: 20px;
    border: solid 1px #d0d0d0;
    width: 30%;
    padding: 20px;
}

.ExperienceUser > div > span
{
    border: solid 1px #0B7FC7;
    border-radius: 20%;
    padding: 5px;
}

.UserLevel
{
    margin-bottom: 10px;
}