{%  extends 'base.html.twig' %}

{% block title %}Ajouter {%  endblock %}

{% block body %}

    <h1>Nouvelle quote</h1>


    {%  form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}


    <div class="bottom">
         <a href="{{  path('quote_index') }}">Retour</a>
    </div>


{% endblock %}