{%  extends "base.html.twig" %}


{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block title %}Ajouter {%  endblock %}

{% block body %}

    <h1>Nouvelle quote</h1>



        {{ form(form) }}


    <div class="bottom">
         <a href="http://localhost:8000/">Retour</a>
    </div>


{% endblock %}