{%  extends "base.html.twig" %}


{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block title %}Modifier {%  endblock %}

{% block body %}

    <h1>Modification de la quote {{ quote.id }}</h1>

{{ form(form) }}

    <div class="bottom">
        <a href="http://localhost:8000/">Retour</a>
    </div>


{% endblock %}