{%  extends "base.html.twig" %}


{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block title %}Modifier {%  endblock %}

{% block body %}

    <h1>Modification de la quote {{ quote.id }}</h1>

    <form method="GET"  >
        <ul>
            <li>
                <label>La quote :
                     <input name="contentMod" value="{{ quote.content }}" size="100">
                </label>
            </li>
            <li>
                <label>La source :
                     <input name="metaMod" value="{{ quote.meta }}">
                </label>
            </li>
        </ul>
        <button type="submit" class="submit2"> Modifier !</button>
    </form>

    <div class="bottom">
        <a href="http://localhost:8000/">Retour aux quotes</a>
    </div>


{% endblock %}