{%  extends 'base.html.twig' %}

{% block title %}Modifier {%  endblock %}

{% block body %}

    <h1>Modification de la quote {{ quote.id }}</h1>

    {%  form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}

    <div class="bottom">
        <a href="{{  path('quote_index') }}">Retour</a>
    </div>


{% endblock %}